dist: xenial

language: php

sudo: required

matrix:
  include:
    - php: 5.6
      env: PHP_VERSION="5.6"
    - php: 7.0
      env: PHP_VERSION="7.0"
    - php: 7.1
      env: PHP_VERSION="7.1"
    - php: 7.2
      env: PHP_VERSION="7.2"
    - php: 7.3
      env: PHP_VERSION="7.3"
    - php: 7.4
      env: PHP_VERSION="7.4"
before_install:
  - sudo apt-get update
  - sudo apt-get install -y python-software-properties
  - LC_ALL=C.UTF-8 sudo add-apt-repository -y ppa:ondrej/php
  - sudo apt-get update
  - sudo apt-get install -y apt-transport-https apt-utils php"$PHP_VERSION"-cli php"$PHP_VERSION"-gd
script:
  - php -v
  - sudo php -v
  - php -r "var_dump(function_exists('imagewebp'));"
  - php -r "var_dump(gd_info());"
  - sudo php -r "var_dump(function_exists('imagewebp'));"
  - sudo php -r "var_dump(gd_info());"
  - which php
  - sudo which php
